img, input, button {
  display: block;
}

h1 {
  text-align: center;
}

.apis {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.random-dog, .digimon, .rick {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  background: #ededed;
}

.btn {
  padding: 20px;
  text-transform: uppercase;
  font-weight: bold;
  background: #ccff00;
  border: none;
  border: 1px solid #151515;
  border-radius: 4px;
}