body, h1, h2, input, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  background-color: #f5b79f;
}

img, input, button {
  display: block;
}

.digi-number, .rick-number {
  width: 40px;
  border: 1px solid #fa4f0b;
  text-align: center;
  padding: 10px;
  font-size: 1.125rem;
  font-weight: bold;
  border-radius: 4px;
}

h1 {  
  text-align: center;
}

h2 {
  font-size: 1.25rem;
}

.apis {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.random-dog, .digimon, .rick, .get-user-photo {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  background: #ededed;
  padding: 20px 40px;
  border-radius: 4px;
}

.text-data {
  align-self: flex-start;
  background-color: #fff;
  padding-left: 20px;
  width: 100%;
}

.text-data span {
  color: #fa4f0b;
  font-weight: bold;
}

.btn {
  padding: 20px;
  text-transform: uppercase;
  background: #151515;
  color: #fff;
  border: none;
  border: 1px solid #151515;
  border-radius: 4px;
  font: 700 1.125rem/1.1 'Poppins', sans-serif;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.5;
}

@media (max-width: 1250px) {
  .apis {
    grid-template-columns: 1fr 1fr;
  }
  .random-dog, .digimon, .rick, .get-user-photo {
    max-width: 800px;
    margin: 20px auto;
  }
}

@media (max-width: 900px) {
  .apis {
    grid-template-columns: 1fr;
  }
  html {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .random-dog, .digimon, .rick, .get-user-photo {
    max-width: 300px;
  }
  img {
    width: 200px;
    height: 200px;
  }
}